/* CSS Document */

BODY {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    background: url(b.jpg) no-repeat center top #282828;
}

a {
    blr: expression(this.onFocus=this.close());
}

a:focus {
    -moz-outline-style: none;
}


/* IE��֧�� */

A:link {
    font-size: 12px;
    color: #666666;
    FONT-FAMILY: Helvetica, sans-serif;
    text-decoration: none
}

A:visited {
    font-size: 12px;
    color: #666666;
    FONT-FAMILY: Helvetica, sans-serif
}

A:hover {
    font-size: 12px;
    color: #d97305;
    FONT-FAMILY: Helvetica, sans-serif
}

td {
    font-size: 12px;
    color: #666666;
    font-family: Helvetica, sans-serif
}

.title {
    font-size: 12px;
    display: block;
    BACKGROUND: url(disc.gif) no-repeat left center;
    padding: 0px 11px 8px;
    margin: 0px;
    color: #656565;
    text-decoration: none;
    font-weight: bold;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.nt {
    font-size: 22px;
    color: #fd9603;
    text-decoration: none;
    font-weight: bolder;
    FONT-FAMILY: Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 90%
}

.ntt {
    font-size: 22px;
    color: #fd9603;
    text-decoration: none;
    font-weight: normal;
    FONT-FAMILY: Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 90%
}

.menu {
    font-size: 12px;
    position: relative;
    z-index: 100;
    padding-bottom: 12px!important;
    WIDTH: 1150px;
    PADDING-TOP: 0px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin: 0 auto;
    lalign: center;
    color: #fefefe;
    text-align: center;
    font-family: Helvetica, sans-serif
}

*+html .menu {
    font-size: 12px;
    position: relative;
    z-index: 100;
    WIDTH: 1150px;
    PADDING-TOP: 0px;
    margin-left: 0px;
}

.menu ul {
    list-style: none;
}

*+html .menu ul {
    list-style: none;
}

.menu li {
    float: left;
    position: relative;
    list-style: none;
}

.menu ul ul {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 23px;
}

.menu table {
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul li:hover ul,
.menu ul a:hover ul {
    visibility: visible;
    list-style: none;
}

.menu a {
    blr: expression(this.onFocus=this.close());
    font-size: 12px;
    display: block;
    BACKGROUND: no-repeat left center;
    padding: 0px 6px 8px;
    margin: 0px;
    color: #D2D2D2;
    text-decoration: none;
    FONT-FAMILY: Helvetica, sans-serif;
    behavior: url("1.htc");
    text-shadow: 2px 2px 4px #333
}

.menu a:hover {
    color: #ff9600;
    border: 0px solid red;
}

.menu ul ul {
    z-index: 100;
}

.menu ul ul li {
    clear: both;
    text-align: left;
    font-size: 11px;
    BACKGROUND: url(opaque.png);
    z-index: 100;
}

.menu ul ul li a {
    display: block;
    width: 260px;
    height: 16px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid 666666;
    z-index: 100;
}

.menu ul ul li a:hover {
    border: 0;
    border-bottom: 1px solid #666666;
}

.menu22 {
    font-size: 12px;
    position: relative;
    z-index: 100;
    padding-bottom: 12px!important;
    WIDTH: 850px;
    PADDING-TOP: 0px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin: 0 auto;
    lalign: center;
    text-align: center;
}

*+html .menu22 {
    font-size: 12px;
    position: relative;
    z-index: 100;
    WIDTH: 850px;
    PADDING-TOP: 10px;
    margin-left: 0px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin: 0 auto;
    lalign: center;
    text-align: center;
}

.menu22 ul {
    list-style: none;
}

*+html .menu22 ul {
    list-style: none;
}

.menu22 li {
    float: left;
    position: relative;
}

.menu22 ul ul {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 23px;
}

.menu22 table {
    position: absolute;
    top: 0;
    left: 0;
}

.menu22 ul li:hover ul,
.menu22 ul a:hover ul {
    visibility: visible;
}

.menu22 a {
    font-size: 12px;
    display: block;
    BACKGROUND: no-repeat left center;
    padding: 0px 8px 8px;
    margin-left: 8px;
    color: #D2D2D2;
    text-decoration: none;
    FONT-FAMILY: Helvetica, sans-serif;
    behavior: url("1.htc");
    text-shadow: 2px 2px 4px #333
}

.menu22 a:hover {
    color: #ff9600;
    border: 0px solid red;
}

.menu22 ul ul {
    z-index: 100;
}

.menu22 ul ul li {
    clear: both;
    text-align: left;
    font-size: 11px;
    BACKGROUND: url(opaque.png);
    z-index: 100;
}

.menu22 ul ul li a {
    display: block;
    width: 260px;
    height: 16px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid 666666;
    z-index: 100;
}

.menu22 ul ul li a:hover {
    border: 0;
    border-bottom: 1px solid #666666;
}

.menu23 {
    font-size: 12px;
    position: relative;
    z-index: 100;
    padding-bottom: 12px!important;
    WIDTH: 600px;
    PADDING-TOP: 0px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin: 0 auto;
    lalign: center;
    text-align: center;
}

*+html .menu23 {
    font-size: 12px;
    position: relative;
    z-index: 100;
    WIDTH: 600px;
    PADDING-TOP: 0px;
    margin-left: 0px
}

.menu23 ul {
    list-style: none;
}

*+html .menu23 ul {
    list-style: none;
}

.menu23 li {
    float: left;
    position: relative;
}

.menu23 ul ul {
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 23px;
}

.menu23 table {
    position: absolute;
    top: 0;
    left: 0;
}

.menu23 ul li:hover ul,
.menu23 ul a:hover ul {
    visibility: visible;
}

.menu23 a {
    font-size: 12px;
    display: block;
    BACKGROUND: no-repeat left center;
    padding: 0px 8px 8px;
    margin-left: 8px;
    color: #D2D2D2;
    text-decoration: none;
    FONT-FAMILY: Helvetica, sans-serif;
    behavior: url("1.htc");
    text-shadow: 2px 2px 4px #333
}

.menu23 a:hover {
    color: #ff9600;
    border: 0px solid red;
}

.menu23 ul ul {
    z-index: 100;
}

.menu23 ul ul li {
    clear: both;
    text-align: left;
    font-size: 11px;
    BACKGROUND: url(opaque.png);
    z-index: 100;
}

.menu23 ul ul li a {
    display: block;
    width: 260px;
    height: 16px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid 666666;
    z-index: 100;
}

.menu23 ul ul li a:hover {
    border: 0;
    border-bottom: 1px solid #666666;
}

#menu_x {
    font-size: 12px;
    color: #333333;
    text-align: left
}

*+html #menu_x {
    font-size: 12px;
    color: #333333
}

#menu_x A:link {
    behavior: url("1.htc");
    font-size: 11px;
    color: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#menu_x A:visited {
    font-size: 11px;
    color: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#menu_x A:hover {
    font-size: 11px;
    color: #FF9600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#main {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    OVERFLOW: hidden;
    WIDTH: 1003px;
    PADDING-TOP: 0px;
}

#main2 {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px auto;
    OVERFLOW: hidden;
    WIDTH: 1003;
    PADDING-TOP: 0px;
    HEIGHT: 750px
}

#logo {
    BACKGROUND: url(logo.png) no-repeat;
    MARGIN: 10px 0px 0px 363px;
    WIDTH: 393px;
    HEIGHT: 84px;
    _background: none;
    /*IE6*/
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="logo.png");
    /*IE6*/
}

#menu {
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 3px;
    MARGIN: 0px auto;
    OVERFLOW: hidden;
    WIDTH: 980px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    height: 157px
}

#menu LI {
    DISPLAY: block;
    Z-INDEX: 100;
    FLOAT: left;
    POSITION: relative
}

#menu LI SPAN {
    PADDING-RIGHT: 8px;
    DISPLAY: block;
    PADDING-LEFT: 8px;
    FONT-SIZE: 11px;
    Z-INDEX: 100;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#menu LI A {
    blr: expression(this.onFocus=this.close());
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    WHITE-SPACE: nowrap;
    TEXT-DECORATION: underline;
    behavior: url("1.htc")
}

#menu LI A:visited {
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    WHITE-SPACE: nowrap;
    TEXT-DECORATION: underline
}

#menu DL {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: url(opaque1.png);
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 0px
}

* HTML #menu DL {
    BACKGROUND: url(opaque.gif)
}

#menu DT {
    FONT-SIZE: 11px;
    BACKGROUND: url(disc.gif) no-repeat left center;
    FLOAT: left;
    MARGIN: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

#menu DD {
    CLEAR: left;
    PADDING-RIGHT: 0px;
    DISPLAY: none;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    BACKGROUND: url(opaque.png);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: #fff;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}

#menu DT A {
    behavior: url("1.htc");
    PADDING-RIGHT: 8px;
    DISPLAY: block;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 5px;
    COLOR: #656565;
    PADDING-TOP: 5px;
    TEXT-DECORATION: none
}

#menu DT A:visited {
    PADDING-RIGHT: 8px;
    DISPLAY: block;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 5px;
    COLOR: #656565;
    PADDING-TOP: 5px;
    TEXT-DECORATION: none
}

#menu DD A {
    behavior: url("1.htc");
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: #ff9600;
    PADDING-TOP: 5px;
    TEXT-DECORATION: none
}

#menu DD A:visited {
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: #ff9600;
    PADDING-TOP: 5px;
    TEXT-DECORATION: none
}

#menu LI A:hover {
    BORDER-TOP-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    TEXT-DECORATION: none
}

#menu LI:hover DD {
    DISPLAY: block;
    TEXT-DECORATION: none
}

#menu LI A:hover DD {
    DISPLAY: block;
    TEXT-DECORATION: none
}

#menu LI:hover DL {
    PADDING-BOTTOM: 15px;
    TEXT-DECORATION: none
}

#menu LI A:hover DL {
    PADDING-BOTTOM: 15px;
    TEXT-DECORATION: none
}

#menu LI:hover DT A {
    behavior: url("1.htc");
    TEXT-DECORATION: none
}

#menu LI A:hover DT A {
    TEXT-DECORATION: none
}

#menu DD A:hover {
    BACKGROUND: #feefe6;
    COLOR: #ff9600;
    TEXT-DECORATION: none
}

.menu_deputy {
    BACKGROUND: url(h_line.gif) no-repeat center bottom;
    MARGIN: 0px 0px 10px 0px;
    WIDTH: 1003px;
    HEIGHT: 30px;
    TEXT-ALIGN: center
}

.menu_deputy UL {
    MARGIN: 5px 0px 0px;
    LIST-STYLE-TYPE: none
}

.menu_deputy LI {
    DISPLAY: inline;
    MARGIN: 10px 15px;
}

.menu_deputy LI A {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    behavior: url("1.htc")
}

.menu_deputy LI A:link {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    color: #333333;
    TEXT-DECORATION: none;
}

.menu_deputy LI A:visited {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    color: #000000;
    TEXT-DECORATION: none;
}

.menu_deputy LI A:hover {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    color: #FF9600;
    TEXT-DECORATION: none;
}

.menu_deputy LI SPAN A {
    behavior: url("1.htc");
    COLOR: #feac37
}

.menu_deputy LI SPAN A:link {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    color: #FF9600;
    TEXT-DECORATION: none;
}

.menu_deputy LI SPAN A:visited {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    color: #feac37;
    TEXT-DECORATION: none;
}

.menu_deputy LI SPAN A:hover {
    FONT: 11px/15pt Arial, Helvetica, sans-serif;
    color: #333333;
    TEXT-DECORATION: none;
}

.x_b {
    WIDTH: 980px;
    HEIGHT: 288px;
    background-image: url(x_b.png);
    background-position: /*IE7,FF*/
    _background: none;
    /*IE6*/
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/x_b.png");
    /*IE6*/
    background-position: center
}

.news {
    PADDING-top: 15px;
}

#news {
    FONT: 12px Arial, Verdana, Geneva, sans-serif;
    color: #444444
}

#nt {
    FONT: 10px Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #666666;
}

#news A {
    behavior: url("1.htc")
}

#news A:link {
    behavior: url("1.htc");
    font-size: 14px;
    color: #555555;
    TEXT-DECORATION: none;
    font-weight: bold
}

#news A:visited {
    font-size: 14px;
    color: #666666;
    TEXT-DECORATION: none;
    font-weight: bold
}

#news A:hover {
    font-size: 14px;
    color: #FF9600;
    TEXT-DECORATION: none;
    font-weight: bold
}

.cp_x {
    BACKGROUND: url(cp_x.png) no-repeat center;
    WIDTH: 926px;
    HEIGHT: 410px;
}

.cp_x_l {
    PADDING: 25px;
}

#nt2 {
    FONT: 10px Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #999999;
}

#nt2 A:link {
    behavior: url("1.htc");
    font-size: 10px;
    color: #666666;
    TEXT-DECORATION: none;
    font-weight: bold
}

#nt2 A:visited {
    font-size: 10px;
    color: #999999;
    TEXT-DECORATION: none;
    font-weight: bold
}

#nt2 A:hover {
    font-size: 10px;
    color: #FF9600;
    TEXT-DECORATION: none;
    font-weight: bold
}

.inq {
    PADDING-top: 15px;
}

.fy A {
    BACKGROUND: #FF9600;
    COLOR: #ffffff;
    font-size: 11px;
    behavior: url("1.htc")
}

.fy A:link {
    font-size: 11px;
    color: #ffffff
}

.box {
    BORDER-RIGHT: #cecdcd 1px solid;
    BORDER-TOP: #cecdcd 1px solid;
    BORDER-LEFT: #cecdcd 1px solid;
    BORDER-BOTTOM: #cecdcd 1px solid;
    BACKGROUND-COLOR: #f4f4f4
}

#footer {
    color: #f7f7f7;
    WIDTH: 1103px;
    HEIGHT: 40px;
    TEXT-ALIGN: center;
    margin: 0px auto;
}

#footer SPAN {
    TEXT-ALIGN: center;
}

#footer .f1 {
    font-family: "Calisto MT";
    font-size: 10px;
    color: #D2D2D2;
}

#footer .f2 {
    font-family: "Calisto MT";
    font-size: 10px;
    color: #D2D2D2;
}

.npt a {
    font-size: 16px;
    color: #2A1F00;
    font-family: Arial, Helvetica, sans-serif
}

.npt a:hover {
    font-size: 16px;
    color: #FF9600;
    font-family: Arial, Helvetica, sans-serif
}