A {
	COLOR: #333333;
	font-family: "宋体";
	font-size: 9pt;
	text-decoration: none;

} 
A:hover {
	COLOR: #FF6600;
	text-decoration: underline;
}
DIV,FORM,P,TD,BODY{FONT-SIZE:9pt;}
BODY{
SCROLLBAR-HIGHLIGHT-COLOR:buttonface;
SCROLLBAR-SHADOW-COLOR:buttonface;
SCROLLBAR-3DLIGHT-COLOR:buttonhighlight;
SCROLLBAR-TRACK-COLOR:eeeeee;
SCROLLBAR-DARKSHADOW-COLOR:buttonshadow
}

TD {FONT-SIZE: 9pt;COLOR: #000000;LINE-HEIGHT: 160%;FONT-FAMILY: "宋体";font-style: normal;font-weight: normal;font-variant: normal;}
.table-zuoyou {border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color: #CCCCCC;border-left-color: #CCCCCC;}
.wenbenkuang {color: #333333;border: 1px solid #999999;font-family: "宋体";font-size: 9pt;}
.go-wenbenkuang {font-family: "宋体";font-size: 9pt;color: #333333;background-color: #eeeeee;cursor: hand;padding: 1px;height: 19px;border-top: 1px solid #FFFFFF;border-right: 1px solid #a2a2a2;border-bottom: 1px solid #a2a2a2;border-left: 1px solid #FFFFFF;}

